<div class="row">
    <div class="column">
        <h1>Builder</h1>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Question</mat-label>
            <input [formControl]="newQuestionForm.controls.question" matInput placeholder="Question" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Answer</mat-label>
            <input [formControl]="newQuestionForm.controls.answer" matInput placeholder="Answer" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Wrong answer</mat-label>
            <input [formControl]="newQuestionForm.controls.wrongAnswer" matInput placeholder="Wrong answer" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Wrong answer</mat-label>
            <input [formControl]="newQuestionForm.controls.wrongAnswer2" matInput placeholder="Wrong answer" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Wrong answer</mat-label>
            <input [formControl]="newQuestionForm.controls.wrongAnswer3" matInput placeholder="Wrong answer" required>
        </mat-form-field>
        <button (click)="addQuestion()" color="primary" mat-raised-button>Add question</button>
    </div>
    <div class="column">
        <h1>Preview</h1>
        <mat-card style="margin-bottom: 1rem;">
            <mat-card-header>
                <mat-card-title>
                    {{newQuestionForm.controls.question.value}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-radio-group>
                    <mat-radio-button *ngIf="newQuestionForm.controls.answer.value as answer"
                                      [value]="answer">{{answer}}</mat-radio-button>
                    <mat-radio-button *ngIf="newQuestionForm.controls.wrongAnswer.value as wrongAnswer"
                                      [value]="wrongAnswer">{{wrongAnswer}}</mat-radio-button>
                    <mat-radio-button *ngIf="newQuestionForm.controls.wrongAnswer2.value as wrongAnswer2"
                                      [value]="wrongAnswer2">{{wrongAnswer2}}</mat-radio-button>
                    <mat-radio-button *ngIf="newQuestionForm.controls.wrongAnswer3.value as wrongAnswer3"
                                      [value]="wrongAnswer3">{{wrongAnswer3}}</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
