
.table-container {
  width: 100%;
  overflow: auto;

  mat-table {
    width: 100%;
  }
}
:host ::ng-deep {
  .no-padding {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}