.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-row:hover {
  background-color: #8ce1a7;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.mat-success {
  background-color: green;
  color: #fff;
}