<div class="toolbar">
    <div>
    <span style="font-size: 1.5rem">
      Question banks
    </span>
    </div>
    <div>
        <button (click)="uploadQuestionBank()" mat-raised-button style="margin-right: 1rem">Import
            <mat-icon>upload_file</mat-icon>
        </button>
        <button (click)="newQuestionBank()" color="primary" mat-raised-button>New
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<div class="mat-elevation-z8 table-container">
    <table [dataSource]="questionBanksDs" mat-table matSort>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id.</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>
                <mat-form-field appearance="fill" class="no-padding">
                    <mat-label>Name</mat-label>
                    <input matInput [formControl]="questionBankFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Last update</th>
            <td *matCellDef="let element" mat-cell> {{(element.updatedAt | date: "short") ?? "No updates"}} </td>
        </ng-container>


        <ng-container matColumnDef="questions">
            <th *matHeaderCellDef mat-header-cell>Questions</th>
            <td *matCellDef="let element" mat-cell> {{element.questions}} </td>
        </ng-container>

        <ng-container matColumnDef="stats">
            <th *matHeaderCellDef mat-header-cell>Stats</th>
            <td *matCellDef="let element" mat-cell>
                <span matTooltip="Total answers">{{element.stats.totalAnswers}}</span>
                - <span matTooltip="Answers on valid questions">{{element.stats.answeredQuestions}}</span>
                - <span matTooltip="Correct answers">{{element.stats.correctAnswers}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="coverage">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Coverage</th>
            <td *matCellDef="let element" mat-cell>{{element.coverage  | number}}%</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell style="text-align: right"> Actions</th>
            <td *matCellDef="let element" mat-cell width="35%">
                <div class="actions">
                    <button mat-flat-button [disabled]="element.questions.length === 0" color="primary"
                            routerLink="{{element.id}}/practice">
                        <mat-icon>school</mat-icon>
                        Practice
                    </button>
<!--                    <mat-menu #menu="matMenu">-->
<!--                        <button mat-menu-item>25 Questions</button>-->
<!--                        <button mat-menu-item>50 Questions</button>-->
<!--                        <button mat-menu-item>100 Questions</button>-->
<!--                    </mat-menu>-->

                    <button mat-flat-button color="accent" routerLink="{{element.id}}">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-flat-button style="color: white; background-color: #46a35e;"
                            (click)="downloadQuestionBank(element.id);">
                        <mat-icon>download</mat-icon>
                        Download
                    </button>
                    <button mat-flat-button color="warn" (click)="deleteQuiz(element.id);">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </div>
            </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="questionBankDisplayedColumns.length">No question banks</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="questionBankDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: questionBankDisplayedColumns;"></tr>
    </table>
    <mat-paginator #questionBankPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="toolbar" style="margin-top: 5rem">
    <div>
        <span style="font-size: 1.5rem">
          Quiz history
        </span>
    </div>
    <div>
        <button (click)="clearQuizHistory()" mat-raised-button color="warn">Clear history
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div class="mat-elevation-z8 table-container">
    <table [dataSource]="quizHistoryDs" class="mat-elevation-z8" mat-table>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id.</th>
            <td mat-cell *matCellDef="let element" style="cursor: pointer"
                routerLink="/{{element.questionBankId}}/practice/{{element.id}}"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="questionBankName">
            <th *matHeaderCellDef mat-header-cell>Question bank</th>
            <td mat-cell *matCellDef="let element"> {{element.questionBankName}} </td>
        </ng-container>

        <ng-container matColumnDef="startedAt">
            <th *matHeaderCellDef mat-header-cell>Started at</th>
            <td mat-cell *matCellDef="let element"> {{element.startedAt | date: 'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="finishedAt">
            <th *matHeaderCellDef mat-header-cell>Finished at</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.finishedAt; else resume">
                    {{element.finishedAt | date: 'short'}}
                </ng-container>
                <ng-template #resume>
                    <button mat-stroked-button routerLink="/{{element.questionBankId}}/practice/{{element.id}}"
                            color="primary">RESUME
                    </button>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th *matHeaderCellDef mat-header-cell>Duration</th>
            <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>

        <ng-container matColumnDef="questions">
            <th *matHeaderCellDef mat-header-cell>Questions</th>
            <td mat-cell *matCellDef="let element"> {{element.questions.length}} </td>
        </ng-container>

        <ng-container matColumnDef="correctAnswers">
            <th *matHeaderCellDef mat-header-cell>Correct answers</th>
            <td mat-cell *matCellDef="let element"> {{element.correctAnswers}} </td>
        </ng-container>

        <ng-container matColumnDef="correctRatio">
            <th *matHeaderCellDef mat-header-cell>Ratio</th>
            <td mat-cell *matCellDef="let element"> {{element.correctRatio | number}}%</td>
        </ng-container>



        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="quizHistoryDisplayColumns.length">No quizzes history yet</td>
        </tr>

        <tr mat-header-row
            *matHeaderRowDef="quizHistoryDisplayColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: quizHistoryDisplayColumns;"></tr>
    </table>
    <mat-paginator #quizHistoryPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>