<div class="page-container">
    <div class="page-header">
        <h1>Question Banks</h1>
        <div class="header-actions">
        <button mat-button appearance="outlined" (click)="uploadQuestionBank()">
            Import<mat-icon>upload_file</mat-icon>
        </button>
        <button mat-button appearance="filled" color="primary" (click)="newQuestionBank()">
            New<mat-icon>add</mat-icon>
        </button>
        <button mat-button appearance="outlined" [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon> Columns
        </button>
        <mat-menu #menu="matMenu">
            <mat-selection-list (selectionChange)="onColumnToggle($event)">
                @for (column of tableColumnOptions; track column) {
                    <mat-list-option [value]="column" [selected]="column.visible" (click)="$event.stopPropagation()">
                        {{column.name}}
                    </mat-list-option>
                }
            </mat-selection-list>
        </mat-menu>
        </div>
    </div>

    <div class="table-container">
        <table [dataSource]="questionBanksDs" mat-table matSort>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id.</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>
                Name
            </th>
            <td *matCellDef="let element" mat-cell>
                <span routerLink="banks/{{element.id}}" style="cursor:pointer">
                    {{element.name}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Last update</th>
            <td *matCellDef="let element" mat-cell> {{(element.updatedAt | date: "short") ?? "No updates"}} </td>
        </ng-container>


        <ng-container matColumnDef="questions">
            <th *matHeaderCellDef mat-header-cell>Questions</th>
            <td *matCellDef="let element" mat-cell> {{element.questions}} </td>
        </ng-container>

        <ng-container matColumnDef="stats">
            <th *matHeaderCellDef mat-header-cell>Stats</th>
            <td *matCellDef="let element" mat-cell>
                <span matTooltip="Total answers">{{element.stats.totalAnswers}}</span>
                - <span matTooltip="Answers on valid questions">{{element.stats.answeredQuestions}}</span>
                - <span matTooltip="Correct answers">{{element.stats.correctAnswers}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="coverage">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Coverage</th>
            <td *matCellDef="let element" mat-cell matTooltip="Percentage of questions you provided a correct answer.">{{element.coverage  | number}}%</td>
        </ng-container>

        <ng-container matColumnDef="averageScore">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Avg Score</th>
            <td *matCellDef="let element" mat-cell>{{element.averageScore  | number}}%</td>
        </ng-container>

        <ng-container matColumnDef="averageScoreToday">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Today's Avg Score</th>
            <td *matCellDef="let element" mat-cell>{{element.averageScoreToday  | number}}%</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell style="text-align: right"> Actions</th>
            <td *matCellDef="let element" mat-cell width="200px">
                <div class="actions">
                    <button [disabled]="element.questions.length === 0"
                            [matMenuTriggerFor]="menu"
                            class="icon-only"
                            mat-icon-button
                            color="primary"
                            matTooltip="Practice">
                        <mat-icon>school</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <mat-selection-list [multiple]="false" #selectionList>
                            @for (priority of questionPriorityOptions; track priority) {
                                <mat-list-option (click)="$event.stopPropagation()" [value]="priority" [selected]="priority === questionPriorityOptions[2]">
                                    {{priority.name}}
                                </mat-list-option>
                            }
                        </mat-selection-list>
                        <mat-divider></mat-divider>
                        @for (size of [25, 50, 100]; track size) {
                            <button (click)="practiceQuiz(element.id, size, selectionList.selectedOptions.selected)"
                                    mat-menu-item>{{size}} Questions
                            </button>
                        }
                    </mat-menu>
                    <button class="download icon-only" mat-icon-button (click)="downloadQuestionBank(element.id);" matTooltip="Download question bank">
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="icon-only" mat-icon-button color="warn" (click)="deleteQuiz(element.id);" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="displayedColumns.length" class="mat-cell">No question banks</td>
        </tr>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
        <mat-paginator #questionBankPaginator [pageSizeOptions]="[15, 30, 50]"></mat-paginator>
    </div>
</div>