<div class="row">
  <div class="column">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Raw questions</mat-label>
      <textarea [formControl]="control" matInput placeholder="1. Question name\n test" rows="30"></textarea>
    </mat-form-field>
  </div>
  <div class="column">
    <button (click)="import()" color="primary" mat-raised-button>Import</button>
    <ng-container *ngIf="value?.length">
      <mat-card *ngFor="let i of value" style="margin-bottom: 1rem;">
        <mat-card-header>
          <mat-card-title>
            {{i.question}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group>
            <mat-radio-button *ngFor="let option of i.options" [value]="option">{{option}}</mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
