.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  button {
    &.download {
      color: white;
      background-color: #46a35e;
    }
  }
}

.context-buttons {
  display: flex;
  gap: 1rem;
}


.table-container {
  width: 100%;
  overflow: auto;

  mat-table {
    width: 100%;
  }
}

.cdk-cell {
  white-space: nowrap
}

.cdk-header-cell {
  white-space: nowrap
}

:host ::ng-deep {
  .no-padding {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}