<div class="action-bar">
    <div>
    <span style="font-size: 1.5rem">
      Question banks
    </span>
    </div>
    <div class="context-buttons">
        <button (click)="uploadQuestionBank()" mat-raised-button>
            Import<mat-icon>upload_file</mat-icon>
        </button>
        <button (click)="newQuestionBank()" color="primary" mat-raised-button>
            New<mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button class="icon-only" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <mat-selection-list>
                <mat-list-option *ngFor="let column of tableColumnOptions" [(selected)]="column.display" (click)="$event.stopPropagation()">
                    {{column.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-menu>
    </div>
</div>

<div class="mat-elevation-z8 table-container">
    <table [dataSource]="questionBanksDs" mat-table matSort>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id.</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>
                Name
            </th>
            <td *matCellDef="let element" mat-cell>
                <button [disabled]="element.questions.length === 0"
                        [matMenuTriggerFor]="menu"
                        color="primary"
                        matTooltip="Practice"
                        class="icon-only"
                        style="margin-right: 0.5rem"
                        mat-flat-button>
                    <mat-icon>school</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <mat-selection-list [multiple]="false" #selectionList>
                        <mat-list-option *ngFor="let priority of questionPriorityOptions" (click)="$event.stopPropagation()" [value]="priority" [selected]="priority === questionPriorityOptions[2]">
                            {{priority.name}}
                        </mat-list-option>
                    </mat-selection-list>
                    <mat-divider></mat-divider>
                    <button (click)="practiceQuiz(element.id, size, selectionList.selectedOptions.selected)" *ngFor="let size of [25, 50, 100]"
                            mat-menu-item>{{size}} Questions
                    </button>
                </mat-menu>
                <span routerLink="{{element.id}}" style="cursor:pointer">
                    {{element.name}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Last update</th>
            <td *matCellDef="let element" mat-cell> {{(element.updatedAt | date: "short") ?? "No updates"}} </td>
        </ng-container>


        <ng-container matColumnDef="questions">
            <th *matHeaderCellDef mat-header-cell>Questions</th>
            <td *matCellDef="let element" mat-cell> {{element.questions}} </td>
        </ng-container>

        <ng-container matColumnDef="stats">
            <th *matHeaderCellDef mat-header-cell>Stats</th>
            <td *matCellDef="let element" mat-cell>
                <span matTooltip="Total answers">{{element.stats.totalAnswers}}</span>
                - <span matTooltip="Answers on valid questions">{{element.stats.answeredQuestions}}</span>
                - <span matTooltip="Correct answers">{{element.stats.correctAnswers}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="coverage">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Coverage</th>
            <td *matCellDef="let element" mat-cell matTooltip="Percentage of questions you provided a correct answer.">{{element.coverage  | number}}%</td>
        </ng-container>

        <ng-container matColumnDef="avgRatio">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Avg Ratio</th>
            <td *matCellDef="let element" mat-cell>{{element.averageRatio  | number}}%</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell style="text-align: right"> Actions</th>
            <td *matCellDef="let element" mat-cell width="35%">
                <div class="actions">
                    <button class="download icon-only" (click)="downloadQuestionBank(element.id);" mat-flat-button matTooltip="Download question bank" >
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="icon-only" (click)="deleteQuiz(element.id);" color="warn" mat-flat-button matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="displayedColumns.length" class="mat-cell">No question banks</td>
        </tr>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator #questionBankPaginator [pageSizeOptions]="[15, 30, 50]"></mat-paginator>
</div>