<div class="flex flex-col min-h-screen p-4">
  <div class="page-header">
    <h1 class="m-0">{{ questionBankName() || 'Loading...' }}</h1>
    <div class="header-actions">
      <button
        (click)="createQuestion()"
        appearance="filled"
        color="primary"
        mat-button
      >
        <mat-icon>add</mat-icon>
        Add Question
      </button>
      <button (click)="importQuestions()" appearance="outlined" mat-button>
        <mat-icon>upload</mat-icon>
        Import Questions
      </button>
      <button (click)="openEditDialog()" appearance="outlined" mat-button>
        <mat-icon>edit</mat-icon>
        Edit Name
      </button>
    </div>
  </div>

  <div class="flex-1 w-full">
    <app-question-list
      (editQuestion)="onEditQuestion($event)"
      (deleteQuestion)="onDeleteQuestion($event)"
      (createQuestion)="createQuestion()">
    </app-question-list>
  </div>
</div>
