.content-container {
  flex: 1;
  overflow: hidden;
}

// Dialog styles
::ng-deep .edit-bank-name-dialog {
  .mat-mdc-dialog-container {
    --mdc-dialog-container-color: var(--mat-app-background-color);
  }
}
