<div class="page-container">
  <div class="page-header">
    <h1>{{ questionBankName() || 'Loading...' }}</h1>
    <div class="header-actions">
      <button
        (click)="createQuestion()"
        appearance="filled"
        color="primary"
        mat-button
      >
        <mat-icon>add</mat-icon>
        Add Question
      </button>
      <button (click)="openEditDialog()" appearance="outlined" mat-button>
        <mat-icon>edit</mat-icon>
        Edit Name
      </button>
      <button appearance="outlined" mat-button routerLink="import">
        <mat-icon>upload_file</mat-icon>
        Import
      </button>
    </div>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
