.stats {
  text-align: center;
  margin-top: 5rem;

  .correct {
    color: green;
  }

  .incorrect {
    color: red;
  }
}

:host ::ng-deep {
  .answered {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    .correct {
      .mdc-form-field {
        label {
          color: green !important;
          font-weight: bold;
        }

        .mdc-radio {
          .mdc-radio__outer-circle {
            border-color: green !important;
          }
        ;

          .mdc-radio__inner-circle {
            border-color: green !important;
          }
        }
      }
    }

    &.ng-invalid {
      .mat-mdc-radio-checked .mdc-form-field {
        label {
          color: red !important;
          font-weight: bold;
        }

        .mdc-radio {
          .mdc-radio__outer-circle {
            border-color: red !important;
          }
        ;

          .mdc-radio__inner-circle {
            border-color: red !important;
          }
        }
      }
    }
  }
}