.invalid {
  color: red;
}

.stats {
  text-align: center;
  height: 15rem;
  margin-top: 5rem;

  .correct {
    color: green;
  }

  .incorrect {
    color: red;
  }
}

.readonly {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
mat-card-title {
  display: flex;
  align-items: center;
}