<div class="action-bar">
    <div>
        <span style="font-size: 1.5rem">
          Quiz history
        </span>
    </div>
    <div>
        <button mat-button appearance="filled" color="warn" style="margin-right: 1rem;">
            <mat-icon>delete</mat-icon> Clear history
        </button>
        <button mat-button appearance="outlined" [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon> Columns
        </button>
        <mat-menu #menu="matMenu">
            <mat-selection-list (selectionChange)="onColumnToggle($event)">
                @for (column of tableColumnOptions; track column) {
                    <mat-list-option [value]="column" [selected]="column.visible" (click)="$event.stopPropagation()">
                        {{column.name}}
                    </mat-list-option>
                }
            </mat-selection-list>
        </mat-menu>
    </div>
</div>
<div class="mat-elevation-z8 table-container">
    <table [dataSource]="quizHistoryDataSource" class="mat-elevation-z8" mat-table>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id.</th>
            <td *matCellDef="let element" mat-cell>{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="questionBankName">
            <th *matHeaderCellDef mat-header-cell>
                    <mat-select [formControl]="questionBankFilter" placeholder="Question bank">
                        @for (questionBank of questionBanks; track questionBank.id) {
                            <mat-option [value]="questionBank">{{questionBank.name}}</mat-option>
                        }
                    </mat-select>
            </th>
            <td *matCellDef="let element" mat-cell>

                @if (!element.finishedAt) {
                    <button mat-icon-button routerLink="./practice/{{element.id}}" color="primary" style="margin-right: 0.5rem">
                        <mat-icon>edit_note</mat-icon>
                    </button>
                } @else {
                    <button mat-icon-button routerLink="./practice/{{element.id}}" color="primary" style="margin-right: 0.5rem">
                        <mat-icon>edit_note</mat-icon>
                    </button>
                }
                {{element.questionBankName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="startedAt">
            <th *matHeaderCellDef mat-header-cell>Started at</th>
            <td *matCellDef="let element" mat-cell> {{element.startedAt | date: 'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th *matHeaderCellDef mat-header-cell>Duration</th>
            <td *matCellDef="let element" mat-cell> {{element.duration}} </td>
        </ng-container>

        <ng-container matColumnDef="questions">
            <th *matHeaderCellDef mat-header-cell>Questions</th>
            <td *matCellDef="let element" mat-cell> {{element.questions.length}} </td>
        </ng-container>

        <ng-container matColumnDef="correctAnswers">
            <th *matHeaderCellDef mat-header-cell>Correct answers</th>
            <td *matCellDef="let element" mat-cell> {{element.correctAnswers}} </td>
        </ng-container>

        <ng-container matColumnDef="correctRatio">
            <th *matHeaderCellDef mat-header-cell>Score</th>
            <td *matCellDef="let element" mat-cell> {{element.correctRatio | number}}%</td>
        </ng-container>


        <tr *matNoDataRow class="mat-row">
            <td [attr.colspan]="displayedColumns.length" class="mat-cell">No quizzes history yet</td>
        </tr>

        <tr *matHeaderRowDef="displayedColumns"
            mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;"
            mat-row></tr>
    </table>
    <mat-paginator #quizHistoryPaginator [pageSizeOptions]="[15, 30, 50]"></mat-paginator>
</div>